# Runtime verification

https://en.wikipedia.org/wiki/Runtime_verification
