# Formal verification

https://en.wikipedia.org/wiki/Formal_verification
